## 유용한 단축기

In [37]:
print('a')

a

자동완성 : tab  
코드실행 : Ctrl Enter => 셀 실행, shift+enter => 셀 실행 후 다음 셀로 이동  
함수 설명 보기 : shift tab  
빈셀삽입 above a, below b    
삭제 dd    
복사 c    
자르기 x  
붙 v  
code -> markdow : m  
반대 y

In [38]:
# 주석
# ''' 범위 주석'''

In [40]:
# insert image 
# from IPython.display import Image
# Image('')

마크다운 이미지
        <img src="./images/22.png">

In [42]:
# 문자열 : '' "" 
print('hello python')
print('hello \'p\'ython')

hello python
hello 'p'ython

In [44]:
# end : 줄변경 안함
print('hello\npython ', end=': ')
print('ㅎㅇ ㅍㅇㅆ')

hello
python : ㅎㅇ ㅍㅇㅆ

In [47]:
# , sep: 구분자 생성.
print('Hello python', '안녕 파이썬')
print('Hello python', '안녕 파이썬', sep='그리구')

Hello python 안녕 파이썬
Hello python그리구안녕 파이썬

In [53]:
print('5'+'8') 
# print('5'+8) 
# 숫자와 문자 덧셈 안됨.
print(int('5')+8)
print('5'+str(8))

58
13
58

In [55]:
print('='*80)

================================================================================

In [ ]:
'%'와 서식 문자를 사용해 출력하기
서식 문자
d(정수), f(실수), s(문자열)을 사용해서 출력 서식을 지정할 수 있고 출력 서식을 제외한 나머지 문자들은 그대로 출력된다.

출력 서식의 형식
%[-][0][n][.m]서식문자 => [] 안의 내용은 생략할 수 있다.
n: 전체 자리수, 오른쪽으로 정렬되서 출력된다.
-: 왼쪽 정렬
0: 숫자 왼쪽에 '0'을 채워서 출력한다. 
.m: 실수를 출력할 경우 소수점 아래 자리수를 지정한다.

In [58]:
print('%5d' %100)
print('%5d' %1)
print('%-5d' %2)
# 한줄에 두문장은 ;로 구분
print('%05d' %2);print('%5d' %10000)

  100
    1
2
00002
10000

In [61]:
#문장이 1줄 넘어가면 () 안에서는 +로 연결 
print('ㅇㄹㄴ머래ㅑㅓ래ㅓㅐ러재ㅑ'
     +'ㅇ너랜머래ㅑㅐㄻ재더')
# 2줄 이상이면 \를 입력.
string = 'ㅇㄹㄴ머래ㅑㅓ래ㅓㅐ러재ㅑ'\
     +'ㅇ너랜머래ㅑㅐㄻ재더'
print(string)

ㅇㄹㄴ머래ㅑㅓ래ㅓㅐ러재ㅑㅇ너랜머래ㅑㅐㄻ재더
ㅇㄹㄴ머래ㅑㅓ래ㅓㅐ러재ㅑㅇ너랜머래ㅑㅐㄻ재더

In [62]:
print('abc')
print('a')
print('abcde')

abc
a
abcde

In [65]:
print('%5s' %'abc')
print('%-5s'%'a')
print('%5s'%'abcde')

  abc
a
abcde

In [72]:
print('%1.2f' %123.4567) # 반올림

123.46

print('출력 서식' %(1,2,3...)) # 두개이상 ()로묶음

In [79]:
print('%d + %d = %d' %(1,2,1+2)) 
# 파이썬은 / 나눗셈하면 소수점 아래까지 계산된다.
print('%d / %d = %d' %(1,2,1/2)) 
print('%d / %d = %f' %(1,2,1/2)) 
#  //은 몫
print('%d // %d = %f' %(1,2,1//2)) 
# %안에서는 %%로해야함.
print('%d %% %d = %d' %(1,2,1%2))

1 + 2 = 3
1 / 2 = 0
1 / 2 = 0.500000
1 // 2 = 0.000000
1 % 2 = 1

In [82]:
import math # math module import

In [83]:
print(math.pow(2,10))# power
print(math.sqrt(2))#제곱근

1024.0
1.4142135623730951

{}와 format() 사용한 출력 서식 지정.

In [84]:
print('{}의 {}승 = {}'.format(2,10,2**10))# power
print('{} // {} = {}' .format(1,2,1//2))

2의 10승 = 1024
1 // 2 = 0

In [87]:
print('{} {}'.format('홍길동','바부'))
print('{1} {0}'.format('홍길동','바부'))
print('{0} {1} {1}'.format('홍길동','바부'))

홍길동 바부
바부 홍길동
홍길동 바부 바부

In [104]:
print('%10s는 %9d원입니다.'%('멜론',15697))
print('{}는 {}원입니다.'.format('멜론',15697)) 
print('{0:10s}는 {1:7,d}원입니다.'.format('멜론',15697))
print('{:10s}는 {:,.3%}원입니다.'.format('멜론',15697))

        멜론는     15697원입니다.
멜론는 15697원입니다.
멜론        는  15,697원입니다.
멜론        는 1,569,700.000%원입니다.

In [108]:
# < ^ > 로 문자 정렬 방식 가능.
print('{:_^10s}는 {:7,d}원입니다.'.format('멜론',15697))

____멜론____는  15,697원입니다.

In [111]:
# f접두어를 사용한 출력 like 그레이브. 
name='ㅎㄱㄷ'
age=20
print(f'{name}님은 {age}살입니다')

ㅎㄱㄷ님은 20살입니다