In [10]:
# for 반복문은 range 이외에도 시퀀스 객체를 사용할 수 있다는 점이 중요합니다.
a = [10, 20, 30, 40, 50]
print(a)
print('='*80)

for i in a:
    print(i)
print('='*80)

for i in range(len(a)):
    print(a[i])
print('='*80)

for i in a[3:1:-1]:
    print(i)

[10, 20, 30, 40, 50]
================================================================================
10
20
30
40
50
================================================================================
10
20
30
40
50
================================================================================
40
30

튜플과 함께 사용하는 for

In [11]:
# for 반복문은 range 이외에도 시퀀스 객체를 사용할 수 있다는 점이 중요합니다.
a = 10, 20, 30, 40, 50
print(a)
print('='*80)

for i in a:
    print(i)
print('='*80)

for i in range(len(a)):
    print(a[i])
print('='*80)

for i in a[3:1:-1]:
    print(i)

(10, 20, 30, 40, 50)
================================================================================
10
20
30
40
50
================================================================================
10
20
30
40
50
================================================================================
40
30

set과 함께 사용하는 for

In [19]:
a = {'Life', 'is', 'too', 'Good'}
print(a)
print('=' * 80)

for i in a:
    print(i)
print('=' * 80)

'''
for i in range(len(a)):
    print(a[i]) # set은 입력되는 순서와 저장되는 순서가 달라서 인덱싱을 사용할 수 없으므로 에러가 발생된다.
print('=' * 80)

for i in a[1:3]: # set은 입력되는 순서와 저장되는 순서가 달라서 슬라이싱을 사용할 수 없으므로 에러가 발생된다.
    print(i)
'''
pass

{'too', 'Life', 'is', 'Good'}
================================================================================
too
Life
is
Good
================================================================================

딕셔너리와 함께 사용하는 for

In [20]:
a = {'apple': 1000, 'banana': 3500, 'melon': 10000, 'mango': 5000}
print(a)
print(a.keys())
print(a.values())
print(a.items())

{'apple': 1000, 'banana': 3500, 'melon': 10000, 'mango': 5000}
dict_keys(['apple', 'banana', 'melon', 'mango'])
dict_values([1000, 3500, 10000, 5000])
dict_items([('apple', 1000), ('banana', 3500), ('melon', 10000), ('mango', 5000)])

In [27]:
for key in a : # 딕셔너리 이름만 쓰면 keys만 나옴.
    print(key)
print('=' * 80)

for key in a.values() : # 딕셔너리 이름만 쓰면 keys만 나옴.
    print(key)
print('=' * 80)

for item in a.items():
    print(item)

apple
banana
melon
mango
================================================================================
1000
3500
10000
5000
================================================================================
('apple', 1000)
('banana', 3500)
('melon', 10000)
('mango', 5000)

In [32]:
# key 값을 이용해서 value 얻어오기
for key in a.keys():
    print(a[key])#딕셔너리이름[key]
print('=' * 80)

for key in a.keys():
    print(a.get(key))#딕셔너리이름.get(key)
print('=' * 80)

1000
3500
10000
5000
================================================================================
1000
3500
10000
5000
================================================================================

In [34]:
# item 값을 이용해서 key, value 얻어오기

for item in a.items(): # 딕셔너리에서 item을 tuple 형식으로 가져옴.
    print(item)
print('=' * 80)

for item in a.items():
    print('{}는(은) {:,}'.format(item[0], item[1])) # index활용 (key, value)
print('=' * 80)

for key, value in a.items():
    print('{}는(은) {:,}'.format(key, value))

('apple', 1000)
('banana', 3500)
('melon', 10000)
('mango', 5000)
================================================================================
apple는(은) 1,000
banana는(은) 3,500
melon는(은) 10,000
mango는(은) 5,000
================================================================================
apple는(은) 1,000
banana는(은) 3,500
melon는(은) 10,000
mango는(은) 5,000

In [45]:
# enumerate

# 인자의 값을 추출 할 때 인덱스를 추출하는 기법이다. 
# 인덱스 번호와 컬렉션의 원소를 튜플 형태로 반환한다.
for index in enumerate(a):
    print(index)
    
for index, data in enumerate(a):
    print("index : {}, value: {}".format(index,data))

(0, 'apple')
(1, 'banana')
(2, 'melon')
(3, 'mango')
index : 0, value: apple
index : 1, value: banana
index : 2, value: melon
index : 3, value: mango

In [47]:
# zip : 서로 다른 시퀀스를 반복 가능한 형태로 묶어준다.

# 여러 개의 순회 가능한(iterable) 객체를 인자로 받아 
# 동일한 개수로 이루어진 자료형을 묶어서 튜플의 형태로 반환한다

for pair in zip([1, 2, 3], ['java', 'jsp', 'python']):
    print(pair)
for index, data in zip([1, 2, 3], ['java', 'jsp', 'python']):
    print(index, data)

(1, 'java')
(2, 'jsp')
(3, 'python')
1 java
2 jsp
3 python

In [51]:
# zip() 함수를 활용 하면 두 개의 리스트나 튜플로 부터 dictionary를 만들 수 있다. 
# key와 value를 담은 리스트를 zip() 함수로 합친 뒤, dict() 함수를 사용하는 방법이다.
value = [1,2,3]
key = ['a','b','c']
dictionary = dict(zip(value, key))
print(dictionary)

{1: 'a', 2: 'b', 3: 'c'}

In [ ]:
# 인덱스와 함께 값을 추출하고 싶다면 enumerate() 함수를 활용
# zip() 과 

alpha = ['a','b','c']
num = [1,2,3]

# zip은 튜플 형태를 반환하므로 (a,n)으로 묶어준다
for i,(a,n) in enumerate(zip(alpha,num)):
    print(i,a,n)

0 a 1
1 b 2
2 c 3

In [56]:
java = [100, 100, 100]
jsp = [90, 80, 70]
python = [1, 2, 3]
total = []

for i in range(len(java)):
    total.append(java[i]+jsp[i]+python[i])
print(total)

total = []
for java, jsp, python in zip(java, jsp, python):
    total.append(java+jsp+python)
print(java, jsp, python)
print(total)

java = [100, 100, 100]
jsp = [90, 80, 70]
python = [1, 2, 3]
total = []
for p in zip(java, jsp, python):
    print(p)

[191, 182, 173]
100 70 3
[191, 182, 173]
(100, 90, 1)
(100, 80, 2)
(100, 70, 3)